body{
    background-color: rgb(8, 8, 34);
    color: limegreen;
    font-family: monospace;
}
h1{
    font-size: 50px;
    text-align: center;
}
h2{
    text-align: center;
}
h2::before{
    content: "💣 "
}
h2::after{
    content: " 💣"
}

.repro_1{
    width: 550px;
    border: 2px dotted limegreen;
    border-radius: 10px;
    padding: 0 10px;
    margin: 100px;
    font-size: 16px;
}